.CyberTyper {
    text-align: center;
}
.CyberTyperLine {
    position: relative;
}
.CyberTyperLineText {
    font-size: 13pt;
}
.CyberTyperLineName {
    font-size: 13pt;
    font-weight: bold;
}
.CyberTyperLineName:after {
    content: ": ";
}
.CyberTyperLineBreak {
    clear: both;
}
.CyberTyperLineCursor {
    position: relative;
    animation: blinker 1s linear infinite;
    margin-left: 0.5em;
}
.CyberTyperLineCursor::after {
    content: "▌";
}
.CyberTyperLineFloatingCursor {
    position: absolute;
}
.CyberTyperLineFloatingCursor::after {
    content: "▌";
}
.CyberTyperLineFloatingCursor.CyberTyperFlashing {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}